export(
       calcInitialDigitDistr,
       calculateAUC,
       centers.hclust,
       copyPlotToClipboard,
       drawTreesAda,
       drawTreeNodes,
       evaluateRisk,
       genPlotTitleCmd,
       listTreesAda,
       listRPartRules,
       plotBenfordsLaw,
       plotNetwork,
       plotOptimalLine,
       plotRisk,
       printPlot,
       printRandomForests,
       randomForest2Rules,
       rattle,
       savePlotToFile,
       read.arff,
       write.arff,
       ada.formula
       )

exportPattern("_") # Needed for the Glade interface
