export(rattle,evaluateRisk,plotRisk,genPlotTitleCmd,plotNetwork)
export(plotOptimalLine,plotBenfordsLaw,drawTreeNodes)
export(randomForest2Rules,printRandomForests,calculateRiskAUC)
exportPattern("_") # Needed for the Glade interface

##exportPattern("^[^\\.]")
