export(
       calcInitialDigitDistr,
       calculateRiskAUC,
       drawTreeNodes,
       evaluateRisk,
       genPlotTitleCmd,
       plotBenfordsLaw,
       plotNetwork,
       plotOptimalLine,
       plotRisk,
       printRandomForests,
       randomForest2Rules,
       rattle
       )

exportPattern("_") # Needed for the Glade interface
