export(
       binning,
       calcInitialDigitDistr,
       calculateAUC,
       centers.hclust,
       copyPlotToClipboard,
       drawTreesAda,
       drawTreeNodes,
       evaluateRisk,
       generateAprioriSummary,
       genPlotTitleCmd,
       listTreesAda,
       listRPartRules,
       modalvalue,
       plotBenfordsLaw,
       plotNetwork,
       plotOptimalLine,
       plotRisk,
       predict.kmeans,
       predict.hclust,
       printPlot,
       printRandomForests,
       randomForest2Rules,
       rattle,
       rattle.print.rpart,
       rattle.print.summary.multinom,
       overwritePackageFunction,
       savePlotToFile,
       treeset.randomForest,
       ada.formula
       )

exportPattern("_") # Needed for the Glade interface
